@media(max-width: 1156px){
	.services__items{
		display: block;
	}
	.services__item{
		max-width: 80%;
		min-height: 330px;
		margin: 30px auto;
	}
	.form__inner{
		background-image: none;
	}
	.news__inner{
		display: block;
	}
	.news__slider{
		max-width: 100%;
		margin-bottom: 90px;
	}
	.news__blog{
		display: block;
		max-width: 100%;
		margin-bottom: 40px;
	}
	.news__blog::after{
		content: "";
		clear: both;
		display: block;
	}
	.news__images{
		float: left;
		margin-right: 30px;
	}
	.news{
		padding-bottom: 20px;
	}
	.footer__info{
		max-width: 465px;
		margin-bottom: 30px;
	}

}

@media(max-width: 1050px){
	.footer__inner{
		display: block;
	}
	.footer__map{
		max-width: 100%;
	}
}


@media(max-width: 900px){
	.slider .slick-btn{
		display: none !important;
	}
	.services__top,
	.news__top{
		display: block;
	}
	.services__title-box,
	.form__title-box,
	.news__title-box{
		padding-left: 0;
		text-align: center;
		margin: 0 auto 30px;
	}
	.services__title-box::before,
	.form__title-box::before,
	.news__title-box::before{
		display: none;
	}
	.services__btn,
	.news__btn{
		text-align: center;
	}
	.form__box-inner{
		display: block;
	}
	.form__box-left{
		max-width: 80%;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		margin: 0 auto;
	}
	.form__box-right{
		max-width: 80%;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		margin: 0 auto;
	}
	.jq-selectbox__select{
		margin-bottom: 10px;
	}
	.advantages{
		margin-top: 70px;
	}
	.advantages__inner{
		display: block;
	}
	.advantages__item{
		max-width: 100%;
		margin-bottom: 40px;
	}
}



@media(max-width: 700px){
	.header__btn{
		float: none;
	}
	.header__contacts{
		text-align: center;
	}
	.header .header__btn::before{
		display: none;
	}
	.menu ul{
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
		margin-top: 20px;
		z-index: 50;
	}
	.menu li, 
	.menu li a{
		display: block;
		text-align: center;
	}
	.menu a{
		background-color: #f9f9f9;
		cursor: pointer;
		border-bottom: 1px solid #5e5e5e;
	}
	.header__btn-menu{
		display: block;
	}
	.menu li+li{
		padding-left: 0;
	}
	.menu li a:active, 
	.menu li a:hover{
		border: 1px solid #ccc;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		border-right: transparent;
		border-left: transparent;
	}
	.form__box-left{
		max-width: 90%;
	}
	.form__box-right{
		max-width: 90%;
	}
	.form__box-inner{
		padding-top: 20px;
	}
}

@media(max-width: 600px){
	.services__item{
		max-width: 100%;
		min-height: 375px;
		margin: 30px auto;
	}
}

@media(max-width: 550px){
	.news__slider-inner{
		padding: 50px 15px 25px 25px;
	}
	.news__images{
		margin-top: 20px;
	}
	.news__images{
		float: none;
	}
	.news__slider-inner .slick-btn{
		bottom: -60px;
	}

}
@media(max-width: 415px){
	.header__email{
		padding-right: 20px;
	}
	.slider__title{
		font-size: 24px;
	}
	.slider__text{
		font-size: 16px;
	}
	.form__box button{
		left: 0;
		right: 0;
	}
}

@media(max-width: 400px){
	
	.header__btn::before{
		display: block;
	}

}

@media(max-width: 375px){
	.header__email{
		padding-right: 20px;
	}
}


@media(min-width: 700px){
	.menu ul{
		display: block !important;
	}
}


















































